// nav
nav {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-brand {
	@media (min-width: 992px) {
		margin-left: -15px;
	}
}
// main
.main {
	padding: 30px 0 0;
	min-height: calc(100vh - 180px);
}

// side-bar
.side-bar {
	margin-bottom: 30px;
}

// .svg-inline--fa
.svg-inline--fa {
	color: #ffc120;
}

// products-list
.products-list {
	&>.row {
		align-content: stretch;

		&>* {
			margin-bottom: 30px;
		}
	}

	.product-item {
		height: 100%;
		box-shadow: 0 10px 6px -6px #777;

		.price {
			margin-bottom: 0;
    		line-height: 30px;
    		font-size: 14px;
    		font-weight: 700;
		}
	}

	.right {
		@media (min-width: 768px) {
			text-align: right;
		}
	}
}

// btn
.btn {
	line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

// input[type="checkbox"]
.form-check {
	padding-left: 0;

	+.form-check {
		margin-top: 5px;
	}
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
	cursor:pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-4px 10px 0 0;
    vertical-align:middle;
    border: 1px solid #007bff;
    cursor:pointer;
    border-radius: 3px;
    position: relative;
}

input[type="checkbox"]:checked + label span {
    &:after {
    	position: absolute;
    	width: 10px;
    	height: 10px;
    	top: 50%;
    	left: 50%;
    	margin-top: -5px;
    	margin-left: -5px;
    	content: "";
    	background: #007bff;
    	border-radius: 50%;
    }
}

// product-description
.product-description {
	ul {
		padding-left: 20px;
	}
}